*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: #4a6caa;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    background: #fff;
}
/* start left-section */
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 768px;
    min-height: 100vh;
}
/* start header */
header{
    width: 768px;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    align-content: center;
    align-items: center;
}
.logo{
    display: flex;
    width: 400px;
    padding: 28px 421px 28.056px 32px;
    align-items: center;
}
.logoright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.523px;
    margin-left: 10px;
}

.lang{
    list-style-type: none;
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    color: #A0AEC0;
}
.lang li:nth-child(1){
    color: black;
}
/* end header */

/* start main section */

main{
    display: flex;
    height: 700px;
    padding: 140px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.title{
    display: flex;
    padding: 16px 0px;
    align-items: center;
    gap: 8px;
}
#titleleft{
    color: var(--gray-700, #2D3748);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
#titleright{
    color: var(--gray-400, #A0AEC0);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.inputGroup1{
    display: flex;
    width: 480px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 24px;
}
#label{
    color: var(--gray-700, #2D3748);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#input{
    border-radius: 6px;
    border: 1px solid var(--gray-300, #CBD5E0);
    background: var(--White, #FFF);
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}
#startnumber{
    height: 40px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--gray-100, #EDF2F7);
}
#mobilnumber{
    height: 40px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--gray-200, #E2E8F0);
    background: var(--White, #FFF);
    width: 480px;
}
#username{
    height: 40px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--gray-200, #E2E8F0);
    background: var(--White, #FFF);
}
#btn1{
    display: flex;
    height: 48px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 6px;
    opacity: 0.4;
    background: var(--gray-300, #CBD5E0);
    margin-top: 24px;
    cursor: pointer;
}
#btn1 span{
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 428px;
}
.or{
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
}
.or span{ 
     color: var(--gray-600, #4A5568);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 462px;
}
#btn2{
    display: flex;
    height: 48px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--gray-200, #E2E8F0);
    width: 480px;
    margin-top: 24px;
    cursor: pointer;
}
#btn2 span{
    color: var(--gray-800, #1A202C);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
/* end main section */

/* start footer section */
footer{
    display: flex;
    width: 768px;
    padding: 0px 56px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
}
.footer{
    display: flex;
    height: 43.5px;
    padding: 24px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    align-self: stretch;
}

.footerleft{
    display: flex;
    width: 96px;
    height: 32px;
    padding: 2px 3px;
    justify-content: center;
    align-items: center;
}

.footerleft img{
    width: 90px;
    height: 28px;
    flex-shrink: 0;
    cursor: pointer;
}

.footerright{
    display: flex;
    width: 104px;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.footeright.footeright p{
    color: var(--gray-500, #718096);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    cursor: pointer;
}
/* end footer section */
/* End Left section */

/* Start right section */
/* Start righttop section */
#right{
    background: url(./img/background.png) lightgray 50% / cover no-repeat;;
    width: 1152px;
    height: 100vh;
}
#right h1{
    font-size: 30px;
    color: #fff;
    margin: 40px;
    text-transform: uppercase;
}
.icontext{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}
.iconText{
    margin-left: 25px;
}
.top1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top1 span{
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
}
.top2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top2 span{
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
}
/* End righttop section */
/* Start rightcenter section */
.money{
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 400px;
    z-index: 0;
}

.number{
    position: absolute;
    top: 140px;
    bottom:200px;
    left: 990px;
}
.number img{
    width: 700px;
    z-index: 1;
}
/* End rightcenter section */
/* End right section */









































